.afterClick {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  width: 6rem;
  margin-bottom: 10%;
  margin-top: 10%;
  @media (min-width: 440px) and (max-width: 799px) {
    height: 10rem;
    width: 10rem;
  }
  @media (min-width: 800px) {
    height: 15rem;
    width: 15rem;
  }
  border-radius: 15%;
  box-shadow: 0 0 130px 20px lightpink;
}

.afterClickBreakfast {
  @extend .afterClick;
  background: rgba(20, 200, 20, 0.4) url("../images/breakfast.png") no-repeat center;
  background-size: contain;
  @media (min-width: 440px) {
    background-size: auto;
  }
}

.afterClickDinner {
  @extend .afterClick;
  background: rgba(20, 200, 20, 0.4) url("../images/dinner.png") no-repeat center;
  background-size: contain;
  @media (min-width: 440px) {
    background-size: auto;
  }
}

.afterClickSupper {
  @extend .afterClick;
  background: rgba(20, 200, 20, 0.4) url("../images/supper.png") no-repeat center;
  background-size: contain;
  @media (min-width: 440px) {
    background-size: auto;
  }
}


