.mainIcons {
  display: flex;
  flex-direction: column;
  height: 100vh;
  @media (min-width: 550px) and (max-width: 799px){
    flex-direction: row;
    justify-items: center;
  }
  @media (min-width: 800px) {
    flex-direction: row;
    font-size: 180%;
  }
  align-items: center;
  justify-content: space-around;
  background-color: lightcyan;
  color: white;
  font-size: 1.5em;
  text-align: center;
}

.mainIconsAfterClick{
  @extend .mainIcons;
  height: auto;
  @media (min-width: 550px) and (max-width: 799px){
    flex-direction: row;
    justify-items: center;
    align-items: flex-start;
  }
  @media (min-width: 800px) {
    flex-direction: row;
    font-size: 180%;
    align-items: flex-start;
  }
}